<div class="d-inline-flex align-items-center pt-5">
  <h1 class="">Usuários</h1>
  <%= link_to download_users_users_path, class: 'mx-2' do %>
    <i class="fas fa-plus-square fa-2x"></i>
  <% end %>
</div>


<table class="table table-stripped table-hover align-middle">
  <thead class="">
    <th>Foto</th>
    <th>Nome</th>
    <th>Gênero</th>
    <th>Email</th>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= image_tag(user.picture.url) %></td>
        <td><%= user.name %></td>
        <td><%= user.gender %></td>
        <td><%= user.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>
